ul {
  list-style:none;
  width:330px;
  background-color:#8fa;
  -moz-border-radius:8px;
  -webkit-border-radius:8px;
  border-radius:8px;
  padding:3px;
}

li {
  margin:5px;
  padding:3px 3px 1px 3px;
}
.arrow img {
    border-style:none;
}

